/*External stylesheet - style.css*/
body {
    background-color: #CCE8DB;
    font-family: cursive;
    margin: 0;
}

h1 {
    color: #F8B3CA;
    text-align: center;
}

p {
    font-size: 25px;
    line-height: 1.5;
}

img {
    display: block;
    margin: 0 auto;
    min-height: 100%;
    max-width: 40%;
}

h2 {
    color: #FF9AA2;
    font-size: 24px;
    margin-top: 40px;
}

hr {
    margin-top: 15px;
    margin-bottom: 15px;
    border-width: 2px;
    border-style: solid;
}

p.content {
    text-align: left;
}

.container {
    display: inline-block;
}

.photog {
    display: block;
    align-items: center;
}

.photog img {
    margin: 10px;
    margin-left: 50px;
    max-width: 100%;
    width: 500px;
}

/* Media queries for larger screens */
@media only screen and (min-width: 1080px) {
    * {
        margin: 10px;
    }

    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 26px;
    }

    img {
        width: 40%;
        border-radius: 50px;
    }

    .photog img {
        width: 250px;
    }
}

/* Media queries for large screens */
@media only screen and (min-width: 1025px) {
    * {
        margin: 10px;
    }

    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        font-size: 48px;
    }

    p {
        font-size: 26px;
    }

    img {
        width: 60%;
        border-radius: 50px;
    }

    .photog img {
        margin: 0;
        width: 290px;
    }
}

/* Media queries for medium-sized screens */
@media only screen and (min-width: 601px) and (max-width: 1024px) {
    * {
        margin: 10px;
    }

    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        font-size: 36px;
    }

    p {
        font-size: 22px;
    }

    img {
        width: 80%;
        border-radius: 50px;
    }

    .photog img {
        margin: 0;
        width: 290px;
    }
}

/* Media queries for smaller screens */
@media only screen and (max-width: 600px) {
    * {
        margin: 10px;
    }

    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    img {
        max-width: 100%;
        border-radius: 50px;
    }

    .photog img {
        margin: 0;
        width: 150px;
    }
}

/* Media queries for smaller screens */
@media only screen and (max-width: 480px) {
    * {
        margin: 10px;
    }

    h1,
    h2,
    p {
        text-align: center;
    }

    h1 {
        font-size: 24px;
    }

    p {
        font-size: 20px;
    }

    img {
        max-width: 100%;
        border-radius: 50px;
    }

    .photog img {
        margin: 0;
        width: 300px;
    }
}